*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
:root{
    --padding:0 12%;
    --paddings:12%;
    --padding-left:12%;
    --padding-right:12%;
    --space:13px;
    --tion:.3s;
    
}

html {scroll-behavior: smooth;transition: .3s;}

.body{--vert:rgb(0, 235, 39);--vert2:rgb(0, 114, 19);--noire:#f9f9f9;--blanc:#000000;--orange:#ff4800;--orange3:#ff48003f;--oranget:#ff48003d;--orange2:#c23700;--red:rgba(255, 0, 0, 0.678);background:#ff000000;--gris:#aaaaaa;--tposition:1cm;--rposition:1cm;--noire_transparent:rgba(255, 255, 255, 0.685);--footer:#e0e0e0 ;--transparence:linear-gradient(to top,hwb(0 0% 100% / 0.42) 20%, hwb(0 0% 100% / 0.3) 50%);--grisxx:#a3a3a3;--border:rgb(201, 201, 201);}
.dark-body{--vert:rgb(0, 235, 39);--vert2:rgb(0, 134, 22);--noire:#000000;--blanc:#fff;--orange:#ff4800;--orange2:#c23700;--gris:#707070;--tposition:1cm;--rposition:1cm;--noire_transparent:rgba(0, 0, 0, 0.685);--footer:#111111;--transparence: linear-gradient(to top,hwb(0 0% 100% / 0.42) 20%, hwb(0 0% 100% / 0.3) 50%);--grisxx:#5e5e5e;--border:rgb(59, 59, 59) ;}

.noscroll{overflow: none;}